<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xr.microservicecloudproviderdept.dao.DeptDao">
    <!--    根据id查询部门 -->
    <select id="findById" resultType="com.xr.microservicecloudproviderdept.entities.Dept" parameterType="Long">
        select deptno,dname,db_source from dept where deptno=#{deptno};
    </select>
    <!--    查询所有部门信息-->
    <select id="findAll" resultType="com.xr.microservicecloudproviderdept.entities.Dept">
        select deptno,dname,db_source from dept;
    </select>
    <!--    插入部门信息-->
    <insert id="addDept" parameterType="com.xr.microservicecloudproviderdept.entities.Dept">
        INSERT INTO dept(dname,db_source) VALUES(#{dname},DATABASE());
    </insert>
</mapper>